button{
    background-color: #c2185b;
    border-radius: 5px;
    
}


body{
    background-image: url("https://s3.eu-central-1.amazonaws.com/assets.theinsiter.org/images/cropped/cinema-2-1455229150.jpeg");
    background-repeat: no-repeat;
   
}

mat-card{
    border-radius: 5px;
    opacity: 0.9;

}