.demo-tab-content{

    float: left;
}

body{
 background-color: #746969;
 /* background-image:url("C:/Users/Bogusia/Desktop/photo-1530482817083-29ae4b92ff15.jpg"); */
padding: 0 10%;
padding-top: 30px;

}



