
<body>


    <mat-card-content>

        <form class="example-form" >
            <mat-form-field class="example-full-width" style="width:1625px; text-align: center; color:#c2185b;;font-size:30px;font-weight: bold">
              <input matInput placeholder="Szukaj we wszystkich filmach" name= "name" [(ngModel)]="this.keyWord" (keyup) = findMoviesByKeyWord()>
            </mat-form-field>


          </form>

      <mat-tab-group class="demo-tab-group"  >
        <mat-tab label="Wszystkie filmy">
          <div class="demo-tab-content" *ngFor="let movie of movies; let i = index;">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </mat-tab>
        <mat-tab label="Najlepiej oceniane">
          <div class="demo-tab-content" *ngFor="let movie of topRated; let i = index;">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </mat-tab>
        <mat-tab label="Rekomendowane dla Ciebie" *ngIf = "this.authService.isUserLoggedIn">
          <div class="demo-tab-content" *ngFor="let movie of recommendedMovies; let i = index;">
            <app-movie-card [movie]="movie"></app-movie-card>
          </div>
        </mat-tab>

      </mat-tab-group>

    </mat-card-content>

  <!-- <button mat-fab color="warn" style="width:130px; height: 70px;" (click)="goPage(1)">Pokaż więcej</button> -->
</body>
